<h2>Herramientas</h2>
<div class="nav-items">
  <ul>
    <li>
      <div class="subsection">Otros</div>
      <ul>
        <li>
          <a [routerLink]="['/tools/prime-decomposition']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Factorización en primos</a>
        </li>
        <li>
          <a [routerLink]="['/tools/graph-plotter']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Graficador de funciones</a>
        </li>
        <li>
          <a [routerLink]="['/tools/pi-decimals']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Calculadora de decimales de pi</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
