.content {
  min-height: 500px;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding: 50px;
  background-color: #f0f0f0;
  color: #222;
}

@media only screen and (max-width: 600px) {
  .content {
    padding: 0.5em;
    min-height: 500px;
    max-width: 100%;
  }
}
