header {
  border-bottom-width: 1px;
  border-bottom-color: black;
}

.header {
  padding: 100px;
  text-align: center;
  background: #333;;
  color: white;
  font-size: 30px;
  text-shadow: 4px 4px black;
  background-image: url(../../assets/img/westerlund_2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.header::before {

  filter: blur(10px);
}

.header h1 {
  font-weight: lighter;
}
