header {
  border-bottom-width: 1px;
  border-bottom-color: black;
}

.header {
  padding: 100px 0px;
  text-align: center;
  background: #333;
  color: white;
  font-size: 30px;
  /*text-shadow: 4px 4px black;*/
  text-shadow: #000 1px 0 5px;
  background-image: url(../../assets/img/westerlund_2.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-variant: small-caps;
}

.header::before {
  filter: blur(10px);
}

.header h1 {
  font-weight: lighter;
}

p {
  text-indent: 0px;
  line-height: 1.6;
}

@media only screen and (max-width: 600px) {
  .header h1 {
    font-size: medium;
  }
}
