<table>
  <tr>
    <td></td>
    <td>
      <button mat-icon-button (click)="moveUp()">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
    </td>
    <td></td>
  </tr>
  <tr>
    <td>
      <button mat-icon-button (click)="moveLeft()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </td>
    <td></td>
    <td>
      <button mat-icon-button (click)="moveRight()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <button mat-icon-button (click)="moveDown()">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </td>
    <td></td>
  </tr>
</table>
