<div class="topnav">
  <div class="nav-items">
    <ul>
      <li>
        <a [routerLink]="['/home']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
      </li>
      <li>
        <a [routerLink]="['/articles']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: false}">Artículos</a>
      </li>
      <li>
        <a [routerLink]="['/tools/prime-decomposition']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Herramientas</a>
      </li>
      <li>
        <a [routerLink]="['/games/tic-tac-toe']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Juegos</a>
      </li>
      <li>
        <a [routerLink]="['/articles/contact']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Contacto</a>
      </li>
    </ul>
  </div>
</div>
