<h2>Cubo de Rubik</h2>
<div>
  <canvas #canvas></canvas>
  <div class="controls">
    <button (click)="rotateFace('x', 1, 1)">Rotar Cara X+</button>
    <button (click)="rotateFace('x', 1, -1)">Rotar Cara X-</button>
    <button (click)="rotateFace('y', 1, 1)">Rotar Cara Y+</button>
    <button (click)="rotateFace('y', 1, -1)">Rotar Cara Y-</button>
    <button (click)="rotateFace('z', 1, 1)">Rotar Cara Z+</button>
    <button (click)="rotateFace('z', 1, -1)">Rotar Cara Z-</button>
  </div>
</div>


