<h2>{{ curve.title }}</h2>
<p class="dropcap">{{ curve.description }}</p>
<h3>Ecuación</h3>
<app-formula [expression]="generalEquation"></app-formula>
<div class="widget-container curve-widget">
  <div class="widget-title">Parámetros</div>
  <div class="curve-parameters">
  <div class="curve-parameter" *ngFor="let param of curve.params">
    <label [for]="param.key">{{ param.label }}: </label>
    <input
      [id]="param.key"
      type="number"
      [ngModel]="params[param.key]"
      (ngModelChange)="onParamChanged(param.key, $event)"
      [min]="param.min"
      [max]="param.max"
      [step]="param.step"
    />
  </div>
  </div>
  <div class="curve-current-equation"><p>Ecuación con los parámetros seleccionados</p><app-formula [expression]="equation"></app-formula></div>
  <app-implicit-curve-graph #curveGraph></app-implicit-curve-graph>
</div>
