<h2>Artículos</h2>
<ul>
  <li>
    <a [routerLink]="['/articles/test-article']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Test</a>
  </li>
  <li>
    <a [routerLink]="['/articles/prime-decomposition']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Factorización</a>
  </li>
  <li>
    <a [routerLink]="['/articles/sierpinski-triangle']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Triángulo de Sierpinski</a>
  </li>
</ul>
