<h2>{{navbar.name}}</h2>
<div class="nav-items">
  <ul>
    @for(subsection of navbar.subsections; track subsection.name){
      <li>
        <div class="subsection">{{subsection.name}}</div>
        <ul>
          @for(item of subsection.items; track item.name){
            <li class="subsection-item">
              <a [routerLink]="['/articles', item.route]" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">{{item.name}}</a>
            </li>
          }
        </ul>
      </li>
    }
  </ul>
</div>
