<div class="article-with-sidebar">
  <div class="sidebar">
    <h3>Navegación</h3>
    <ul>
      <li><a [routerLink]="['.']" fragment="work-experience">Work Experience</a></li>
      <li><a [routerLink]="['.']" fragment="education">Education</a></li>
      <li><a [routerLink]="['.']" fragment="extra-information">Extra Information</a></li>
    </ul>
  </div>
  <div class="body-text">
    <div class="article-title">
      <h1>CV</h1>
    </div>
    <div class="cv-section" id="work-experience">
      <h2 class="cv-section-title">Work experience</h2>
      <div class="cv-item">
        <p class="cv-company">ArcelorMittal, S.A.</p>
        <p class="cv-position">IT Analyst</p>
        <p class="cv-date">📅 June 2019 - present day</p>
        <div class="cv-job-details">
          <p>Member of an international team responsible for the implementation of core software components used by supply chain at European level. Duties include doing technical analysis and investigation of posible solutions based on technical specifications, implementation of new functionalities based on given requirements, creation and maintenance of tools used by the rest of the development team, solving bugs and incidents in a timely manner, rolling out of applications, testing, creating documentation, and maintaining continuous communication with the rest of the team in Europe, among other tasks. Member of the guard duty team.</p>
          <p>Used technologies include the following:</p>
          <ul>
            <li>Development of client and server applications with Visual Studio (C#, Visual Basic) using WinForms, Windows Communication Foundation (WCF), .Net, Castle Windsor, DevExpress and Infragistics Frameworks. Use of the Angular 6 framework for front- end applications.</li>
            <li>Extensive use of software programming patterns: command, observer, state, factory, inversion of control, dependency injection.</li>
            <li>Microsoft SQL Server database management system.</li>
            <li>Version control with Team Foundation Server (TFS) and Git.</li>
            <li>Extensive use of the Scrum agile methodology. Usage of the Jira issue tracking system.</li>
          </ul>
        </div>
      </div>
      <div class="cv-item">
        <p class="cv-company">Freelance</p>
        <p class="cv-position">Software Developer</p>
        <p class="cv-date">📅 January 2018 - September 2019</p>
        <div class="cv-job-details">
          <p>Analysis, development, deployment and maintenance of software solutions used by multiple companies in the industrial sector. Tasks include the creation of desktop, web and mobile software applications, implementation of robust, critical back-end systems, analysis of current systems for improving performace and robustness, study and implementation of new functionalities asked by the client, deployment and updating applications. Used technologies include the following:</p>
          <ul>
            <li>Multi-platform business applications using the XAF framework from DevExpress.</li>
            <li>Desktop applications using WinForms, WPF and the .Net framework.</li>
            <li>Mobile app development with Android Studio using Java.</li>
            <li>Communication with industrial programmable logic controllers (PLCs) using the OPC protocol.</li>
            <li>Version control using Git and SVN.</li>
          </ul>
          <p>Other tasks include creation of documentation on existing systems and perform investigation tasks for solving issues in legacy code.</p>
        </div>
      </div>
      <div class="cv-item">
        <p class="cv-company">SII Concatel</p>
        <p class="cv-position">Senior Software Developer</p>
        <p class="cv-date">📅 November 2017 - June 2019</p>
        <div class="cv-job-details">
          <p>Performed tasks include the implementation of new functionalities based on given specifications, solving bugs and incidents in a timely manner, analysis and study of existing solutions, deployment of applications, performing tests, writting documentation, and continuous communication with other members of the team based in other sites around Europe, among other duties. Used technologies include the following:</p>
          <ul>
            <li>Development with the Visual Studio IDE of a client/server application using WinForms, Windows Communication Foundation (WCF) and the .Net Framework (C# and Visual Basic programming languages).</li>
            <li>Extensive use of software programming patterns: command, observer, state, factory, inversion of control, dependency injection.</li>
            <li>Use of the software frameworks .Net, Castle Windsor, DevExpress, Infragistics.</li>
            <li>Version control with Team Foundation Server (TFS).</li>
            <li>Microsoft SQL Server database management system.</li>
          </ul>
        </div>
      </div>
      <div class="cv-item">
        <p class="cv-company">Partner Tecnológico S.L.</p>
        <p class="cv-position">Junior Software Developer</p>
        <p class="cv-date">📅 June 2015 - September 2017</p>
        <div class="cv-job-details">
          <p>Responsible for the development and maintenance of multi-platform software applications for real time data gathering and processing, production control, and process automation, used by multiple companies from the industrial sector. Used technologies include the following:</p>
          <ul>
            <li>Software development with Visual Studio using the ExpressApp Framework (XAF) over .NET for the creation of multi-platform business applications, for both desktop (WinForms) and web (ASP.NET) (C# and Visual Basic).</li>
            <li>Android app development with Android Studio, primarily used for gathering data on the field and mapping of company assets and other information (Java, Google Maps API, Sigpac Cadaster and WMS API — services provided by the spanish Ministry of Agriculture—, Openstreetmap API).</li>
            <li>Development of multiple Windows applications and services using .NET for real time data gathering, serial port communications, OPC server communications, web services among other functions.</li>
          </ul>
          <p>Other performed tasks include real time problem solving, travel to factories for installations and maintenance, and assigning and managing tasks for a two people team.</p>
        </div>
      </div>
      <div class="cv-item">
        <p class="cv-company">Escuela Politécnica de Ingeniería de Gijón. Universidad de Oviedo.</p>
        <p class="cv-position">Research Assistant for the Department of Systems Engineering and Automation - Área de Ingeniería de Sistemas y Automática</p>
        <p class="cv-date">📅 March 2013 - June 2015</p>
        <div class="cv-job-details">
          <p>Partnership with the company Tubecheck S.L. in a project for the development of a system for the reconstruction and cartographic representation of trajectories followed by mobile cameras during sewage network inspection. Responsible for the creation of the algorithm for trajectory reconstruction from inertial measurements, planning of testing experiments, development of the phone application used in data gathering, and development of the desktop application for data processing, cartography, visualization and exporting to standard geographic formats of the obtained trajectories. Used technologies:</p>
          <ul>
            <li>Development of a prototype desktop application with wxWidgets (python language) for trajectory visualization and testing algorithm parameters.</li>
            <li>Development of a desktop application with Swing and an Android application (Java language) used by the client. 3D representation with the OpenGL library of the calculated trajectories overlayed on aerial photographies from the Sigpac WMS System.</li>
          </ul>
          <p>Other performed tasks include:</p>
          <ul>
            <li>Development of a ROS (Robot Operating System) controller for Linux with C++ for inertial measurement units (XSens MTi).</li>
            <li>Creation of a upper body monitoring system using inertial sensors, with ROS and Gazebo (robotics simulation system).</li>
            <li>Implementation of a human-robot interface for controlling the mechanic arm of a YouBot robot (from KUKA) using the ROS controller and the monitoring system previously mentioned.</li>
            <li>Development of a ROS controller and a desktop application for visualization and signal recording (using the python language) for an electromyographic activity measurement device for the human arm (Myo Gesture Control Armband).</li>
          </ul>
        </div>
      </div>
      <div class="cv-item">
        <p class="cv-company">EDP - HC Energía</p>
        <p class="cv-position">EDP Foundation Internship</p>
        <p class="cv-date">📅 January 2012 - January 2013</p>
        <div class="cv-job-details">
          <p>Internship in the Electric and Electronics Department at the Soto de Ribera Power Plant (Asturias, Spain). Training on the overall working process of the plant, and specific tasks performed by the electronics maintenance team when diagnosing and solving issues that occur in the normal operation of the power plant.</p>
        </div>
      </div>
    </div>
    <div class="cv-section" id="education">
      <h2 class="cv-section-title">Education</h2>
      <div class="cv-item">
        <p class="cv-company">Escuela Politécnica de Ingeniería de Gijón. Universidad de Oviedo.</p>
        <p class="cv-position">Industrial Engineer (BEng & MEng) Speciality in Electronic Engineering, Electronics and Control Systems.</p>
        <p class="cv-date">📅 2006 - 2013</p>
        <div class="cv-job-details">
          <p>Final thesis: Inertial monitoring system for upper body motion.</p>
          <p>Modelling and implementation of a human-robot interface for controlling a omnidirectional robot arm via inertial measurement units which the user wears on his arms. Presented on july 27th 2013, obtaining the maximum grade with Honors.</p>
        </div>
      </div>
    </div>
    <div class="cv-section" id="extra-information">
      <h2 class="cv-section-title">Extra Information</h2>
      <div class="cv-item">
        <p class="cv-company">System and method for determining paths in underground pipelines - (ES) Sistema y método para determinar trayectorias en conductos subterráneos</p>
        <p class="cv-position">Patent ES2628950B1</p>
        <p class="cv-date">📅 August 2018</p>
        <div class="cv-job-details">
          <p>Inventors:</p>
          <ul>
            <li>Daniel Fernández Villanueva</li>
            <li>Óscar Rivera Blázquez</li>
            <li>Juan Carlos Álvarez Álvarez</li>
            <li>Fernando Nuño García</li>
          </ul>
          <p>Current assignee: Tubecheck S.L.</p>
          <p>Patent granted on 16th august 2018.</p>
        </div>
      </div>
    </div>
    <div class="cv-section" id="skills">
      <h2 class="cv-section-title">Skills</h2>
      <div class="cv-item">

      </div>
    </div>
  </div>
</div>
