<div class="formula-container" [ngClass]="{ 'formula-inline': displayMode === 'inline', 'formula-block': displayMode === 'block' }">
  <div *ngIf="isMathJaxReady; else pendingFormula" class="formula-expression" [mathjax]="codeExpression"></div>
  <ng-template #pendingFormula><div class="formula-expression">{{ codeExpression }}</div></ng-template>
  <div class="code-row">
    <button
      type="button"
      class="code-toggle"
      [attr.aria-pressed]="showCode"
      [attr.aria-label]="showCode ? 'Ocultar código de la fórmula' : 'Mostrar código de la fórmula'"
      [title]="showCode ? 'Ocultar código' : 'Mostrar código'"
      (click)="showCode = !showCode">
      LaTeX
    </button>
    <div *ngIf="showCode" class="expression-code">{{ expression }}</div>
  </div>
</div>
