<h2>Artículo test</h2>
<p>test-article works!</p>
<div class="formula" [mathjax]="content"></div>
<div class="formula" [mathjax]="equations.get('test')!"></div>
<div class="formula" [mathjax]="equations.get('pythagoras2')!"></div>
<div class="formula" [mathjax]="equations.get('testfrac')!"></div>
<app-formula [formula]="formula1"></app-formula>
<app-prime-decomposition></app-prime-decomposition>
<app-arithmetic-derivative></app-arithmetic-derivative>
<canvas id="canvas" width="490" height="490" style="border: 1px solid black;"></canvas>
<app-canvas #myCanvas [size]="canvasSize"></app-canvas>
