<h2>Derivada Aritmética</h2>
<p>La derivada aritmética es una función definida sobre los números enteros, que se inspira en las reglas de derivación del cálculo clásico, pero aplicada a la estructura aritmética de los números. Introducida por analogía con la derivada convencional, su objetivo es capturar propiedades relacionadas con la factorización de los números enteros en términos de sus factores primos.</p>

<p>La derivada aritmética de un número primo p se define como p′=1. Para un número compuesto n=a⋅b, la derivada sigue una regla similar a la del producto en el cálculo diferencial: n′=a′⋅b+a⋅b′. Por ejemplo, para un número como 6, que es el producto de 2 y 3, su derivada aritmética sería 6′=2′⋅3+2⋅3′=1⋅3+2⋅1=5.</p>

<p>Esta función ofrece una nueva perspectiva sobre los números, especialmente en la manera en que los primos y sus potencias se comportan bajo operaciones derivativas. La derivada aritmética puede ser útil en ciertos problemas teóricos de la aritmética y la teoría de números, ya que revela información sobre la factorización de enteros.</p>

<p>A continuación, puedes calcular la derivada aritmética del número que desees utilizando el componente interactivo que aparece abajo.</p>

<app-arithmetic-derivative></app-arithmetic-derivative>
