/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.article-with-sidebar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
}

.article-title {
  text-align: center;
}

.sidebar {
  border-right: 1px solid #aaa;
}

.widget-container {
  padding: 10px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 5px solid #333;
  border-right: 1px solid #333;
  background-color: #eee;
  min-height: 65px;
}

.widget-title {
  font-variant: small-caps;
  font-weight: bold;
  margin-bottom: 5px;
}

p {
  text-indent: 30px;
}
