/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  text-indent: 30px;
  line-height: 1.6;
}

.article-with-sidebar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
}

.article-title {
  text-align: center;
}

.sidebar {
  border-right: 1px solid #aaa;
}

.widget-container {
  padding: 10px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 5px solid #333;
  border-right: 1px solid #333;
  background-color: #f5e0d0;
  min-height: 65px;
}

.widget-container button {
  margin: 5px;
  padding: 10px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
}

.widget-container button:hover {
  background-color: #666;
}

.widget-container input {
  margin: 5px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid black;
}

.widget-title {
  font-variant: small-caps;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 5px;
}

.widget-label {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

span.formula {
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  border: #333 solid 1px;
  border-radius: 5px;
  background-color: #eee;
  padding: 5px;
}
