<h2>Composición de funciones trigonométricas y sus inversas</h2>

<p>Cuando se compone una función trigonométrica (seno, coseno, tangente) con una función trigonométrica inversa (arcoseno, arcocoseno, argotangente) se puede encontrar una simplificación bastante elegante en forma de función que no contiene ningún término trigonométrico:</p>

<table>
    <tr>
        <th class="diagonal-cell">
            <div class="diagonal-top">g(f(x))</div>
            <div class="diagonal-bottom">f(x)</div>
        </th>
        <th>sin(f(x))</th>
        <th>cos(f(x))</th>
        <th>tg(f(x))</th>
    </tr>

    <tr>
        <th>arcsin(x)</th>
        <td><div [mathjax]="sinArcsin"></div></td>
        <td><div [mathjax]="cosArcsin"></div></td>
        <td><div [mathjax]="tgArcsin"></div></td>
    </tr>

    <tr>
        <th>arccos(x)</th>
        <td><div [mathjax]="sinArccos"></div></td>
        <td><div [mathjax]="cosArccos"></div></td>
        <td><div [mathjax]="tgArccos"></div></td>
    </tr>

    <tr>
        <th>arctg(x)</th>
        <td><div [mathjax]="sinArctg"></div></td>
        <td><div [mathjax]="cosArctg"></div></td>
        <td><div [mathjax]="tgArctg"></div></td>
    </tr>
</table>
