<h2>Juegos</h2>
<div class="nav-items">
  <ul>
    <li>
      <div class="subsection">Otros</div>
      <ul>
        <li>
          <a [routerLink]="['/games/tic-tac-toe']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Tres en Raya</a>
        </li>
        <li>
          <a [routerLink]="['/games/four-in-a-row']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Cuatro en Raya</a>
        </li>
        <li>
          <a [routerLink]="['/games/game-of-life']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Juego de la Vida de Conway</a>
        </li>
        <li>
          <a [routerLink]="['/games/rubik-cube']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Cubo de Rubik</a>
        </li>
        <li>
          <a [routerLink]="['/games/sudoku']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Sudoku</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
